* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* user-select: none; */
  scroll-behavior: smooth;
}
body {
  font-family: var(--body-family);
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.navbar {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .logo {
  font-size: 30px;
  padding: 20px;
  color: var(--menu-color);
}
.navbar a {
  text-decoration: none;
}
.navbar ul {
  width: 50%;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  list-style-type: none;
}
.navbar ul a {
  font-size: 20px;
  text-decoration: none;
  color: var(--menu-color);
}
.navbar ul a:hover {
  color: aqua;
  transition: 0.5s;
}
.main__img span {
  color: gray;
}
/* first block finish */
.content {
  display: flex;
  justify-content: space-around;
  align-items: center;

  margin-top: 20px;
}
.content_descr {
  padding: 50px;
  width: 40%;
}
.content h1 {
  text-align: center;
  font-size: 30px;
}
.content h2 {
  margin-bottom: 30px;
  text-align: center;
  font-size: 30px;
}
.content p {
  text-align: center;
}
/* second block finish */
.porfolio {
  background-color: var(--menu-color);
}
.porfolio__lists {
  display: flex;
  justify-content: space-around;
}
.porfolio h2 {
  text-align: center;
  margin-top: 100px;
  font-size: 30px;
}
.porfolio p {
  text-align: center;
  margin: 30px;
  font-size: 25px;
}

.porfolio__list1 {
  width: 25%;
}
/* third block finish */
.side-bar-list li {
  list-style-type: none;
  font-size: 30px;
  margin: 30px;
}
.side-bar-list li a {
  text-decoration: none;
  color: black;
}
.side-bar-list ul li::first-child {
  color: blue;
}
.side-bar-list li a:hover {
  border-bottom: 5px solid black;
  transition: 0.5s;
}
.sideBarContent {
  display: flex;
  justify-content: space-between;
}
